body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    font-family: serif;
}

@font-face{
    font-family: "zombie";
    src: url(assets/zombie.ttf);
}

.titulo{
    font-family: zombie;
    text-align: center;
    color: darkred;
    font-size: 5em;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.botones{
    width: 1000px;
    height: 30px;
    margin: 0 auto;
    padding-top: 10px;
    background-image: url("img/arriba.png");
}

.inicio{
    width: 1000px;
    height: 500px;
    margin: 0 auto; 
    padding: 40px;
    padding-top: 0px;
    display: none;
}

.canvas{
    width: 920px;
    height: 450px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 0px;
    display: block;
    background-image: url("img/marco.png");
    
}

#canvas{
    width: 920px;
    height: 450px;
    margin: 0 auto;
    background:#999;
}

a{
    font-family: zombie;
    font-size: 1.5em;
    text-align: center;
    color: #C60;
    background-image: url("img/boton.png");
    border: none;
    width: 150px;
    height: 30px;
    display: block;
    float: left;
    outline: 0;
    cursor: default;
}

#btInicio{
    margin-left: 40px;
}
